<h1 class="title">Products</h1>
<div class="container">
  <mat-card class="card">
      <mat-card-title>List of product names</mat-card-title>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <!-- <td mat-cell *ngFor="let item of products; let i = index"> {{i+1}} </td> -->
          <td mat-cell *matCellDef="let i = index;"> {{i+1}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.ProductDescription}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>Product properties</mat-card-title>
    <mat-card-actions align="end">
      <button mat-button>Close</button>
    </mat-card-actions>
  </mat-card>
</div>
